body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background: transparent;
}
button:after {
  border: none;
  background: transparent;
}
button:focus {
  outline: none;
}
.radio-image {
  width: 60%;
  padding: 20px 40px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(16,146,147,0.12);
  -moz-box-shadow: 0px 15px 30px 0px rgba(16,146,147,0.12);
  box-shadow: 0px 15px 30px 0px rgba(16,146,147,0.12);
  border-radius: 5px;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  cursor: pointer;
  margin: 0px auto;
    display: block;
}

.radio-hidden:checked ~ .radio-image {
  opacity: 0.6;
  transform: scale(1.1);
}
.radio-hidden {
  position: absolute;
  visibility: hidden;
}
.radio-container {
  margin: 10px;
}
.radio-image:hover {
  transform: scale(1.03);
}


/* Animation pizza */
 
.box-bolas {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  /*overflow: hidden;*/
}

.box-bola {
position: relative;
}
.animation1 {
  position: absolute;
        left: 0%;
    top: 12%; }
  @media (max-width: 576px) {
    .animation1 {
      display: none; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .animation1 {
      padding: 8px 25px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .animation1 {
      padding: 10px 25px; } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .animation1 {
      padding: 10px 25px; } }

.animation2 {
  position: absolute;
      left: 28%;
    bottom: 75%; }
  @media (max-width: 576px) {
    .animation2 {
      bottom: 5%; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .animation2 {
      bottom: 20%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .animation2 {
      padding: 10px 25px; } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .animation2 {
      padding: 10px 25px; } }

.animation3 {
  position: absolute;
      bottom: 102%;
    left: 79%; }
  @media (max-width: 576px) {
    .animation3 {
      left: 5%; } }

.animation4 {
  position: absolute;
  bottom: 20%;
  left: 50%; }

.animation5 {
  position: absolute;
  bottom: 88%;
  left: 43%; }

.animation6 {
  position: absolute;
  right: 5%;
  top: 40%; }

.animation7 {
  position: absolute;
  top: 13%;
  left: 51%; }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .animation7 {
      top: 5%;
      left: 73%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .animation7 {
      padding: 10px 25px; } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .animation7 {
      padding: 10px 25px; } }

.animation8 {
  position: absolute;
  left: 68%;
  top: 60%; }
  @media (max-width: 576px) {
    .animation8 {
      top: 80%; } }
.custom-animation {
  backface-visibility: hidden;
  animation: jumping 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all .9s ease 5s;
  user-select: none; }

.custom-animation2 {
  backface-visibility: hidden;
  animation: jumping2 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 1s ease 3s;
  user-select: none; }

.custom-animation3 {
  backface-visibility: hidden;
  animation: jumping3 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 7s ease 2s;
  user-select: none; }

.custom-animation4 {
  backface-visibility: hidden;
  animation: jumping4 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none; }

.custom-animation5 {
  backface-visibility: hidden;
  animation: jumping10 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none; }

.custom-animation11 {
  backface-visibility: hidden;
  animation: jumping11 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none; }

  @keyframes jumping {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: .8; }
  25% {
    transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
    opacity: .9; }
  50% {
    transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
    opacity: .8; }
  75% {
    transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
    opacity: .6; }
  85% {
    transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
    opacity: .7; }
  100% {
    transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
    opacity: .85; } }
@keyframes jumping2 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: .5; }
  25% {
    transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
    opacity: .8; }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
    opacity: .8; }
  75% {
    transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
    opacity: .7; }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
    opacity: .9; } }
@keyframes jumping3 {
  0% {
    transform: translateY(10px) translateX(0) rotate(0) scale(1);
    opacity: .9; }
  20% {
    transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
    opacity: .8; }
  40% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
    opacity: .8; }
  40% {
    transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
    opacity: 1; }
  80% {
    transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
    opacity: .6; }
  100% {
    transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
    opacity: .7; } }
@keyframes jumping4 {
  0% {
    transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
    opacity: .7; }
  25% {
    transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
    opacity: .8; }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
    opacity: .9; }
  75% {
    transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
    opacity: .7; }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
    opacity: .9; } }
@keyframes jumping10 {
  0% {
    transform: rotate(180deg);
    display: block; }
  100% {
    transform: rotate(30deg);
    display: block; } }
@keyframes jumping11 {
  0% {
    transform: rotate(180deg) translate(-20px, 20px);
    display: block; }
  100% {
    transform: rotate(30deg) translate(0px, 0px);
    display: block; } }

    body .pizza {
      height: 20vmin;
      width: 20vmin;
      align-items: center;
      background: none;
      position: relative;
      animation: rotate 13s linear infinite;
   }
    @keyframes rotate {
      to {
        transform: rotate(360deg);
     }
   }
    body .pizza .slice {
      z-index: -1;
      overflow: visible;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10vmin 2.75vmin 0 2.75vmin;
      border-color: #ffdc73 transparent transparent transparent;
      left: 7.5vmin;
      top: 0;
      transform-origin: 50% 100%;
      transform: rotate(0deg);
      animation: loading 1.8125s ease-in-out infinite;
   }
    @keyframes loading {
      0% {
        opacity: 1;
     }
      49% {
        opacity: 1;
     }
      50% {
        opacity: 0;
     }
      99% {
        opacity: 0;
     }
      100% {
        opacity: 1;
     }
   }
    body .pizza .slice:nth-of-type(2n):after {
      box-shadow: 0.5vmin 2.5vmin 0 #cc333f;
   }
    body .pizza .slice:nth-of-type(4n):after {
      box-shadow: 0.5vmin 2.5vmin 0 #cc333f, 1.5vmin 5vmin 0 #cc333f;
   }
    body .pizza .slice:nth-of-type(1) {
      transform: rotate(-27.75deg);
      animation-delay: -0.0625s;
   }
    body .pizza .slice:nth-of-type(2) {
      transform: rotate(-55.5deg);
      animation-delay: -0.125s;
   }
    body .pizza .slice:nth-of-type(3) {
      transform: rotate(-83.25deg);
      animation-delay: -0.1875s;
   }
    body .pizza .slice:nth-of-type(4) {
      transform: rotate(-111deg);
      animation-delay: -0.25s;
   }
    body .pizza .slice:nth-of-type(5) {
      transform: rotate(-138.75deg);
      animation-delay: -0.3125s;
   }
    body .pizza .slice:nth-of-type(6) {
      transform: rotate(-166.5deg);
      animation-delay: -0.375s;
   }
    body .pizza .slice:nth-of-type(7) {
      transform: rotate(-194.25deg);
      animation-delay: -0.4375s;
   }
    body .pizza .slice:nth-of-type(8) {
      transform: rotate(-222deg);
      animation-delay: -0.5s;
   }
    body .pizza .slice:nth-of-type(9) {
      transform: rotate(-249.75deg);
      animation-delay: -0.5625s;
   }
    body .pizza .slice:nth-of-type(10) {
      transform: rotate(-277.5deg);
      animation-delay: -0.625s;
   }
    body .pizza .slice:nth-of-type(11) {
      transform: rotate(-305.25deg);
      animation-delay: -0.6875s;
   }
    body .pizza .slice:nth-of-type(12) {
      transform: rotate(-333deg);
      animation-delay: -0.75s;
   }
    body .pizza .slice:before {
      content: '';
      position: absolute;
      height: 1.5vmin;
      width: 6vmin;
      background: #bbb083;
      top: -10.5vmin;
      left: -3vmin;
      border-radius: 100vmin 100vmin 0.5vmin 0.5vmin / 50vmin 50vmin;
   }
    body .pizza .slice:after {
      content: '';
      border-radius: 100%;
      position: absolute;
      width: 1.25vmin;
      height: 1.25vmin;
      background: #cc333f;
      left: -1vmin;
      top: -7vmin;
      z-index: 2;
   }
   .bg-red {
     background-color: #EA1D2C;
   }

   .MuiDialogContent-root {
    overflow: hidden !important;
   }

   .recomedation{
     border: 2.7px solid #EA1D2C;
   }

   .recomedation-label {
    color: #EA1D2C;
    font-size: 1.4em;
    font-weight: bold;
   }